.cards-wine {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 10px;
  border: #8b1818 solid;
  background-color: white;
  overflow: hidden;
}

.cards-wines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-wine img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-wine h3 {
  font-size: 1rem;
  color: #8b1818;
}

.cards-wine p {
  font-size: 0.8rem;
  color: #000000;
}
