h2 {
  text-align: center;
  color: #9f0c00;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crée 2 colonnes de taille égale */
  grid-template-rows: repeat(2, 1fr); /* Crée 2 lignes en fonction du contenu */
  gap: 3em; /* Espacement entre les cartes */
  justify-items: center; /* Centre les cartes horizontalement */
  align-items: center; /* Centre les cartes verticalement */
  padding: 2em;
}

.card {
  width: 30em;
  height: 20em; /* Largeur fixe des cartes */
  border: 1px solid #ccc; /* Bordure gris clair */
  padding: 20px; /* Padding à l'intérieur de la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  border-radius: 8px; /* Coins arrondis */
  background-color: #fff; /* Fond blanc pour les cartes */
  display: flex;
  flex-direction: column; /* Pour organiser le contenu verticalement */
  justify-content: space-between;
  align-items: center; /* Espace entre le titre et la réponse */
}

.card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px; /* Un peu d'espace sous le titre */
}

.card p {
  font-size: 14px;
  color: #555;
}
