.connecter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  max-width: 100vw;
  min-height: 100vw;
}

h1 {
  font-size: auto;
  margin: 2vw 0;
}

.avatar {
  margin: 2vw 0;
}

.avatar img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.case {
  display: flex;
  flex-direction: column;
  width: 35vw;
  gap: 2vw;
}

.case input[type="email"] {
  padding: 2vw;
  border: none;
  background-color: #8b1818;
  color: white;
  border-radius: 1.5vw;
  font-size: 1.5vw;
}

.case input[type="password"] {
  padding: 2vw;
  border: none;
  background-color: #8b1818;
  color: white;
  border-radius: 1.5vw;
  font-size: 1.5vw;
}

.case input::placeholder {
  color: white;
}

@media (max-width: 768px) {
  .connecter {
    padding: 10vw 5vw;
  }

  h1 {
    font-size: 8vw;
  }

  .avatar img {
    width: 40vw;
    height: 40vw;
  }

  .case {
    width: 90vw;
    gap: 6vw;
  }

  .case input[type="email"],
  .case input[type="password"] {
    font-size: 5vw;
    padding: 6vw;
  }
}
