.burger-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.burger-button {
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.burger-button:hover {
  color: #555;
}

.nav-links {
  top: 7rem;
  display: none;
  position: absolute;
  font-size: 80%;
  top: 7.5rem;
  left: 0;
  background-color: rgba(49, 49, 49, 0.61);
  border-radius: 8px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  opacity: 0;
  z-index: 99;
}

.nav-links.open {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #f5e7dd;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

img {
  max-width: 12rem;
  height: auto;
}

.connexion {
  margin: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.button-connexion {
  background-color: #f5e7dd;
  color: #333;
  border-radius: 3em;
  padding: 0.8rem 1.5rem;
  font-size: medium;
  transition: background-color 0.3s ease-in-out;
}

.button-connexion:hover {
  background-color: #e6d0c3;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .burger-button {
    font-size: 2rem;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .logo img {
    max-width: 8rem;
  }

  .button-connexion {
    font-size: small;
    padding: 0.6rem 1rem;
  }
}
