.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
}

.burger-button {
  font-size: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  margin-left: 0.15em;
  transition: color 0.3s ease-in-out;
}

.burger-button:hover {
  color: #555;
}

.nav-links {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1.5rem;
  width: 100%;
  border-radius: 8px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  opacity: 0;
}

.nav-links.open {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 1.5em 0;
  font-size: 1.2em;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #f5e7dd;
}

.logo {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42%;
  margin-top: 2.5em;
}

img {
  width: 15em;
  height: 15em;
}

.connexion {
  margin: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-connexion {
  margin-right: 0.5em;
  background-color: #f5e7dd;
  border-radius: 3em;
  width: 10em;
  height: 3em;
  font-size: medium;
  transition: background-color 0.3s ease-in-out;
}

.button-connexion:hover {
  background-color: #e6d0c3;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
